# Stock Price Prediction: Tesla Case Study

"Stock Price Prediction: Tesla Case Study" is a project designed for both learning and offering valuable insights to individuals interested in understanding and forecasting stock market trends. Using historical stock data and various analytical techniques, this project aims to educate users on the intricacies of predicting Tesla's stock prices. By sharing insights and predictive models, it empowers investors and enthusiasts to make more informed decisions when dealing with Tesla's stock.

In [2]:
#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score, cross_validate
from sklearn.preprocessing import LabelEncoder

import seaborn as sns
sns.set()

import warnings
warnings.filterwarnings("ignore")

## Data Preparation and Preprocessing

In [3]:
#The path to the csv file
file_path = "../data/TSLA.csv"
#Load the dataset
dataset = pd.read_csv(file_path)
#Get first 5 elements
dataset.head()

        Date       Open   High        Low      Close  Adj Close    Volume
0  6/29/2010  19.000000  25.00  17.540001  23.889999  23.889999  18766300
1  6/30/2010  25.790001  30.42  23.299999  23.830000  23.830000  17187100
2   7/1/2010  25.000000  25.92  20.270000  21.959999  21.959999   8218800
3   7/2/2010  23.000000  23.10  18.709999  19.200001  19.200001   5139800
4   7/6/2010  20.000000  20.00  15.830000  16.110001  16.110001   6866900

In [4]:
#Check for missing values
dataset.isna().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [5]:
#Get dataset shape
dataset.shape

(2416, 7)

In [6]:
#Get dataset information
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2416 entries, 0 to 2415
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2416 non-null   object
 1   Open       2416 non-null   float64
 2   High       2416 non-null   float64
 3   Low        2416 non-null   float64
 4   Close      2416 non-null   float64
 5   Adj Close  2416 non-null   float64
 6   Volume     2416 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 132.2+ KB